* {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.google-img-container {
    padding: 1em 1em 2em 1em;
    margin-top: 9.5em;
}

.search-form{
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    width: 482px;
    height: 44px;
    margin: 0 auto;
}

.search-form:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-flex{
    flex: 1;
    display: flex;
    padding: 0px 8px 0 16px;
    height: 100%;
}

.search-img {
    display: flex;
    align-items: center;
    width: 15px;
    justify-content: center;
    filter: invert(70%) sepia(8%) saturate(244%) hue-rotate(169deg) brightness(91%) contrast(83%);
}

#search-img {
    width: 15px;
}

.search-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 34px;
    flex: 100%;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: rgba(0,0,0,.87);
    border: none;
    outline: none;
}

.navbar {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 1.25em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 7px;
    font-size: 13px;
    align-self: center;
}

a {
    font-size: 13px;  
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar-left {
    display: flex;
    flex: 20%;
    height: 100%;
    align-self: center;
    margin-left: 1em;
}

.navbar-center {
    display: flex;
    height: 100%;
    flex: 53%;
    align-self: center;
}

.navbar-right {
    display: flex;
    height: 100%;
    flex: 27%;
    align-self: center;
    align-content: center;
    justify-content: flex-end;
}

.app-img {
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-left: 0.5em;
    margin-right: 0.2em;
    opacity: 0.55;
}

.app-img:hover {
    opacity: 1;
}

.button-signin {
    background: linear-gradient(0deg,#4387fd,#4683ea);
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    color: #fff;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 2px;
}

.google-button-container {
    margin: 0 auto;
    width: 500px;
    height: 58px;
    padding-top: 18px;
}

.google-button-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    padding: 0 16px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
}

.google-button:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.footer-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 1.25em;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    padding: 6px 0;
}

#footer-left {
    flex: 35%;
}

#footer-center {
    flex: 45%
}

#footer-right {
    flex: 20%
}

.footer a {
    font-size: 14px;
    color: #343536;
}